nav {
    margin: 30px;
  }
  a {
    text-decoration: none;
    padding: 10px;
  }
  
  img {
    padding: 15px;
  }
  
  div {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  ul {
    list-style: none;
  }

li {
    padding: 5px;
    display: flex;
  }
  
  .why-ironhack {
    text-align: left;
  }
  
  section p {
    border-top: 1px solid black; 
    border-bottom: 1px solid black;
  }